.contacts {
  padding-top: 42px;
}

.contacts__map--table {
  display: none;
}
.contacts__map--desktop {
  display: none;
}

.contacts__main {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-top: 10px;
}

.contacts__item {
  display: flex;
  font-size: 15px;
  line-height: 30px;
  color: $grey;
}

.contacts__item--addres {
  padding-top: 30px;
}

.contacts__adress {
  margin-right: 30px;
}

.contacts__adress-home {
  margin: 0;
  width: 190px;
}

.contacts__adress-email {
  border-bottom: 1px solid #62d1ba;
}

.map {
  padding-top: 21px;
}

.contacts__connection-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 16px;
}

.contacts__connection {
  color: $grey;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  width: 256px;
  display: block;
  text-align: center;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .contacts__main {
  padding-left: 45px;
  padding-right: 50px;
  padding-bottom: 10px;
  }
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    display: block;
    padding-bottom: 23px;
  }

  .contacts__item {
    font-size: 17px;
  }

  .contacts__title::before {
    position: absolute;
    content: "";
    top: -15px;
    right: 3px;
    width: 46.7px;
    height: 81.7px;
    background-image: url(../img/icon-flag.svg);
  }
  .contacts__list {
    padding-left: 4px;
  }
  .contacts__adress {
    margin-right: 23px;
  }
  .contacts__item--addres {
    padding: 0;
    padding-left: 53px;
  }

  .contacts__adress-email {
    height: 30px;
  }
  .contacts__map {
    display: none;
  }
  .map {
    padding-top: 0;
  }
  .contacts__map--table {
    display: block;
  }

  .contacts__connection-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 53px;
    padding-bottom: 55px;
  }
  .contacts__connection {
    width: 228px;
  }
}
@media (min-width: $desktop-width) {
  .contacts__map--table {
    display: none;
  }
  .contacts__map--desktop {
    display: block;
    width: 525px;
    height: 457px;

  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title::before {
    left: -105px;
    top: -9px;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-top: 164px;
    padding-bottom: 100px;
  }
  .contacts__main {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0;
    padding-left: 218px;
    margin-top: 71px;
  }
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
  .contacts__item--addres {
    padding-left: 0;
    margin-top: 30px;
  }
  .contacts__connection-wrapper {
    padding: 0;
    padding-left: 224px;
    margin-top: -54px;
    height: 55px;
  }
  .map {
    margin-left: 26px;
  }
}
