.form__communication-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.form__communication-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__communication-text {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form__communication-entry {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 17px;
  color: #444444;
  line-height: 18px;
}
