@media (max-width: 767px) {
  .goods__preview {
    background-image: url("../img/hero-mobile@1x.jpg");
    width: auto;
    height: 284px;
    background-position: -124px -17px;
    background-repeat: no-repeat;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/hero-mobile@2x.jpg");
  }
}
  .goods__preview-hand {
    width: 121px;
    padding: 0 57px;
  }
}

.goods__preview-title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 70px;
}


.goods__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $green;
  color: #ffffff;
}

.goods__item--interior {
  min-height: 103px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 244px 22px;
}

.goods__item--toys {
  min-height: 103px;
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 232px 20px;
}

.goods__title {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  width: 100px;
  padding-left: 28px;
  padding-top: 6px;
}

@media (min-width: $tablet-width) {
  .goods {
    background-image: url("../img/hero-desktop.jpg");
    width: 768px;
    height: 746px;
    background-position: 0px -17px;
    background-repeat: no-repeat;
    position: relative;
  }
  .goods::before {
    position: absolute;
    z-index: 100;
    content: "";
    bottom: -20px;
    left: 0;
    right: 0;
    width: 100%;
    height: 34px;
    background-image: url("../img/big-zigzag-fill.svg");
  }
  .goods__preview-title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding-left: 62px;
    padding-right: 62px;
    padding-top: 152px;
  }

  .goods__item--interior {
    background-position: 257px 29px;
  }

  .goods__item--toys {
    background-position: 240px 29px;
  }

  .goods__title {
    padding-left: 37px;
    padding-top: 14px;
  }


  .goods__preview {
    min-height: 610px;
    margin-top: -16px;
  }
  .goods__list-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
  }
  .goods__list {
    flex-direction: row;
  }
  .goods__item {
    width: 50%;
    min-height: 119px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    background-image: url(../img/hero-desktop.jpg);
    width: 100%;
    height: 746px;
    background-position: 241px -2px;
    background-repeat: no-repeat;
    position: relative;
    background-color: #f9f9f9;
  }
  .goods__list-wrapper {
  padding-left: 100px;
  padding-top: 15px;
  padding-right: 0;
  width: 1050px;
  }
  .goods__preview-title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    padding-left: 275px;
    padding-top: 152px;
  }
  .goods__item--interior {
    background-position: 449px 29px;
  }
  .goods__item--toys {
    background-position: 429px;
  }
}
