.goods-week {
  padding-left: 30px;
  padding-right: 30px;
}

.goods-week__products {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 7px;
}

.goods-week__popular {
  color: $green;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.goods-week__description {
  font-size: 16px;
  line-height: 24px;
  color: $grey;
}

.goods-week__portrait {
  width: 260px;
  display: flex;
}

.goods-week__table {
  border-bottom: 1px solid black;
}

.goods-week__value {
  width: 78px;
}

.goods-week__field {
  width: 152px;
}

.goods-week_price {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  color: $grey;
  font-weight: bold;
  padding-bottom: 38px;
  padding-top: 27px;
}

.goods-week_order {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $grey;
  display: block;
  text-align: center;
}

.button {
  border: 2px solid $grey;
  padding-top: 17px;
  padding-bottom: 17px;
}
