.page-main__catalog-head,
.page-main__form-head {
  width: 320px;
  height: 256px;
  background-color: #f1f1f1;
}

.page-main__catalog-title,
.page-main__form-title {
  font-size: 27px;
  line-height: 30px;
}
