.page-header {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    position: relative;
}
.page-header__icon-close {
    position: absolute;
    right: 30px;
    top: 29px;
    display: none;
}
.page-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.page-header__delivery {
    display: none;
}
@media (min-width:$tablet-width) {
    .page-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 768px;
        margin: 0 auto;
        z-index: 10;
    }
    .page-header__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: -24px;
    }
    .page-header__logo {
        padding-left: 50px;
        height: auto;
        border: none;
    }
    .page-header__mishka {
        display: none;
    }
    .page-header__logo-table {
        width: 113px;
        height: 46px;
    }
    .page-header__cart-wrapper {
        display: flex;
        align-items: center;
        width: 395px;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
        order: 2;
    }
    .page-header__logo-wrapper {
        width: 369px;
        display: flex;
        min-height: 89px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        order: 1;
    }
    .page-header__delivery {
        font-size: 15px;
        line-height: 24px;
        color: $grey;
        display: block;
        margin: 0;
        align-self: center;
        margin-left: 41px;
        padding-top: 15px;
        z-index: 1;
        order: 4;
    }
}
@media (min-width:$desktop-width) {
    .page-header {
        width: 1150px;
        margin: 0 auto;
    }
    .page-header__logo-wrapper {
        order: 2;
        width: 303px;
        justify-content: center;
        border-right: none;
        border-left: none;
    }
    .page-header__logo {
        padding: 0;
        margin-left: -41px;
    }
    .page-header__logo-table {
        display: none;
    }
    .page-header__logo-desktop {
        width: 149px;
        height: 72px;
        padding-left: 29px;
    }
    .page-header__delivery {
        order: 5;
        width: 233px;
        margin-left: 396px;
    }
    .page-header__cart-wrapper {
        order: 3;
        width: 350px;
        border-left: 1px solid #ececec;
        margin-left: 0px;
    }
    .page-header__wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
    .page-header__cart-wrapper {
        border-right: none;
    }
}
