.reviews {
  padding-left: 30px;
  padding-right: 38px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: $grey;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.reviews__author-adress {
  font-size: 17px;
  line-height: 30px;
  color: $grey;
}

.reviews__wrapper {
  display: flex;
  width: 260px;
  padding-bottom: 37px;
  padding-top: 30px;
}

.reviews__prev,
.reviews__next {
  border: 1px solid grey;
  width: 130px;
  height: 50px;
  background-color: #ffffff;
}

.reviews__write {
  font-weight: bold;
  text-transform: uppercase;
  color: $grey;
  font-size: 18px;
  line-height: 20px;
  width: 256px;
  display: block;
  text-align: center;
}
